<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxin.cloud.mapper.AddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sanxin.cloud.entity.Address">
        <id column="id" property="id" />
        <result column="parentid" property="parentid" />
        <result column="name" property="name" />
        <result column="name_thai" property="nameThai" />
        <result column="name_en" property="nameEn" />
        <result column="level" property="level" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
