<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxin.cloud.mapper.BankDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sanxin.cloud.entity.BankDetail">
        <id column="id" property="id" />
        <result column="target_id" property="targetId" />
        <result column="type_id" property="typeId" />
        <result column="type" property="type" />
        <result column="real_name" property="realName" />
        <result column="card_type" property="cardType" />
        <result column="card_no" property="cardNo" />
        <result column="bank_card" property="bankCard" />
        <result column="bank_name" property="bankName" />
        <result column="bank_addr" property="bankAddr" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="logo" property="logo" />
        <result column="thai_card" property="thaiCard" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
