<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxin.cloud.mapper.BBusinessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sanxin.cloud.entity.BBusiness">
        <id column="id" property="id"/>
        <result column="nick_name" property="nickName"/>
        <result column="phone" property="phone"/>
        <result column="country_id" property="countryId"/>
        <result column="pro_id" property="proId"/>
        <result column="city_id" property="cityId"/>
        <result column="area_id" property="areaId"/>
        <result column="address_detail" property="addressDetail"/>
        <result column="card_type" property="cardType"/>
        <result column="card_no" property="cardNo"/>
        <result column="card_front" property="cardFront"/>
        <result column="card_back" property="cardBack"/>
        <result column="company_name" property="companyName"/>
        <result column="license_code" property="licenseCode"/>
        <result column="license_img" property="licenseImg"/>
        <result column="company_img" property="companyImg"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="check_time" property="checkTime"/>
    </resultMap>

    <!-- 根据经纬度分页查询周边商铺 -->
    <select id="findByShops" resultType="com.sanxin.cloud.dto.PowerBankListVo">
        <!--SELECT b.id,d.code, b.company_name,b.start_day,b.end_day,b.start_time,b.end_time,SUM(d.lend_port)  as lend_port,SUM(d.repay_port) as repay_port,b.address_detail,d.status,b.head_url,b.cover_url,b.lat_val,b.lon_val,
        round(
        6378.138 * 2 * asin(
        sqrt(
        pow( sin( (#{latVal} * pi( ) / 180 - lat_val * pi( ) / 180 ) / 2 ), 2 ) + cos( lat_val * pi( ) / 180 ) * cos( lat_val * pi( ) / 180 ) * pow( sin( ( #{lonVal} * pi( ) / 180 - lon_val * pi( ) / 180 ) / 2 ), 2 )
        )
        ) * 1000
        ) AS distance
        FROM
        b_business b , b_device d
        WHERE
        b.id=d.bid
        <if test="search != null and search != ''">
            AND b.company_name like concat('%',#{search},'%')
        </if>
        GROUP BY
        b.id-->
        SELECT
        b.id,
        b.CODE,
        b.company_name,
        b.start_day,
        b.end_day,
        b.start_time,
        b.end_time,
        (select count(1) from b_device d where d.bid=b.id) as num,
        (select ifnull(SUM( d.lend_port ),0) from b_device d where d.bid=b.id) as lend_port,
        (select ifnull(SUM( d.repay_port ),0) from b_device d where d.bid=b.id) as repay_port,
        b.address_detail,
        b.head_url,
        b.cover_url,
        b.lat_val,
        b.lon_val,
        round(
        6378.138 * 2 * asin(
        sqrt(
        pow( sin( ( #{latVal} * pi( ) / 180 - lat_val * pi( ) / 180 ) / 2 ), 2 ) + cos( lat_val * pi( ) / 180 ) * cos( lat_val * pi( ) / 180 ) * pow( sin( ( #{lonVal} * pi( ) / 180 - lon_val * pi( ) / 180 ) / 2 ), 2 )
        )
        ) * 1000
        ) AS distance
        FROM
        b_business b
        WHERE
        1=1
        <if test="search != null and search != ''">
            AND b.company_name like concat('%',#{search},'%')
        </if>
        HAVING
        distance &lt; #{radius}
        order by distance asc
    </select>

    <!--根据经纬度和范围搜索周边商铺-->
    <select id="rangeShop" resultType="com.sanxin.cloud.dto.PowerBankListVo">
        SELECT
        b.id,
        b.code,
        b.company_name,
        b.start_day,
        b.end_day,
        b.start_time,
        b.end_time,
         (select count(1) from b_device d where d.bid=b.id) as num,
        (select ifnull(SUM( d.lend_port ),0) from b_device d where d.bid=b.id) as lend_port,
        (select ifnull(SUM( d.repay_port ),0) from b_device d where d.bid=b.id) as repay_port,
        b.address_detail,
        b.head_url,
        b.cover_url,
        b.lat_val,
        b.lon_val,
        ifnull(round(
        6378.138 * 2 * asin(
        sqrt(
        pow( sin( ( #{latVal} * pi( ) / 180 - lat_val * pi( ) / 180 ) / 2 ), 2 ) + cos( lat_val * pi( ) / 180 ) * cos( lat_val * pi( ) / 180 ) * pow( sin( ( #{lonVal} * pi( ) / 180 - lon_val * pi( ) / 180 ) / 2 ), 2 )
        )
        ) * 1000
        ),0) AS distance
        FROM
        b_business b
        HAVING
        distance &lt; #{distance}
    </select>

    <!-- 大小机柜分类 -->
    <select id="findByCabinet" resultType="java.lang.Integer">
    select distinct type from b_device where bid=#{id} and type is not null
    </select>

</mapper>
