<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxin.cloud.mapper.CMarginDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sanxin.cloud.entity.CMarginDetail">
        <id column="id" property="id" />
        <result column="cid" property="cid" />
        <result column="pay_code" property="payCode" />
        <result column="isout" property="isout" />
        <result column="type" property="type" />
        <result column="cost" property="cost" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 用户点击提现申请返回判断支付方式(押金)查询最后一条充值记录 -->
    <select id="selectLimt" resultType="com.sanxin.cloud.entity.CMarginDetail">
        select * from c_margin_detail WHERE cid=#{cid} limit 1
    </select>

</mapper>
