<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxin.cloud.mapper.CMoneyDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sanxin.cloud.entity.CMoneyDetail">
        <id column="id" property="id" />
        <result column="cid" property="cid" />
        <result column="pay_code" property="payCode" />
        <result column="type" property="type" />
        <result column="isout" property="isout" />
        <result column="original" property="original" />
        <result column="cost" property="cost" />
        <result column="last" property="last" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="queryBalanceDetail" resultMap="BaseResultMap">
        select * from c_money_detail where cid=#{cid}
    </select>

</mapper>
