<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxin.cloud.mapper.OrderMainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sanxin.cloud.entity.OrderMain">
        <id column="id" property="id" />
        <result column="cid" property="cid" />
        <result column="bid" property="bid" />
        <result column="order_code" property="orderCode" />
        <result column="pay_code" property="payCode" />
        <result column="trans_code" property="transCode" />
        <result column="terminal_id" property="terminalId" />
        <result column="rent_money" property="rentMoney" />
        <result column="hour" property="hour" />
        <result column="pay_money" property="payMoney" />
        <result column="real_money" property="realMoney" />
        <result column="order_status" property="orderStatus" />
        <result column="del" property="del" />
        <result column="pay_type" property="payType" />
        <result column="create_time" property="createTime" />
        <result column="confirm_time" property="confirmTime" />
        <result column="payend_time" property="payendTime" />
        <result column="pay_time" property="payTime" />
        <result column="retuen_time" property="retuenTime" />
        <result column="from_channel" property="fromChannel" />
        <result column="over_time" property="overTime" />
    </resultMap>


    <select id="queryOrderList"  resultType="com.sanxin.cloud.entity.OrderMain">
        select a.*, b.phone as phone, b.nick_name as cNickName, c.nick_name as bNickName
        from order_main a
        LEFT JOIN c_customer b on a.cid = b.id
        LEFT JOIN b_business c on a.bid = c.id
        <where>
            <if test="order.cid != null">
                a.cid = #{order.cid, jdbcType=INTEGER }
            </if>
            <if test="order.bid != null">
                and a.bid = #{order.bid, jdbcType=INTEGER }
            </if>
            <if test="order.orderCode != null and order.orderCode != ''">
                and a.order_code = #{order.orderCode, jdbcType=VARCHAR }
            </if>
            <if test="order.phone != null and order.phone !=''">
                and b.phone like concat('%',#{order.phone, jdbcType=VARCHAR},'%')
            </if>
            <if test="order.cNickName != null and order.cNickName !=''">
                and b.nick_name like concat('%',#{order.cNickName, jdbcType=VARCHAR},'%')
            </if>
            <if test="order.bNickName != null and order.bNickName !=''">
                and c.nick_name like concat('%',#{order.bNickName, jdbcType=VARCHAR},'%')
            </if>
            <if test="order.terminalId != null and order.terminalId !=''">
                and a.terminal_id like concat('%',#{order.terminalId, jdbcType=VARCHAR},'%')
            </if>
            <if test="order.del != null">
                and a.del = #{order.del, jdbcType=INTEGER }
            </if>
            <if test="order.payCode != null and order.payCode != ''">
                and a.pay_code = #{order.payCode, jdbcType=VARCHAR }
            </if>
            <if test="order.payType != null">
                and a.pay_type = #{order.payType, jdbcType=INTEGER }
            </if>
            <if test="order.orderStatus != null">
                and a.order_status = #{order.orderStatus, jdbcType=INTEGER }
            </if>
            <if test="order.fromChannel != null">
                and a.from_channel = #{order.fromChannel, jdbcType=INTEGER }
            </if>
        </where>
        group by a.id,a.order_code
        order by a.create_time desc
    </select>

    <select id="sumOrderMoney" resultType="java.math.BigDecimal">
        select sum(pay_money) from order_main where order_status = 3
    </select>

</mapper>
