<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxin.cloud.mapper.SysConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sanxin.cloud.entity.SysConfig">
        <id column="id" property="id" />
        <result column="keyval" property="keyval" />
        <result column="vals" property="vals" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
